/* Google Fonts import: Fredoka (headlines) and Quicksand (text) */

@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Quicksand:wght@300..700&display=swap');


/* CSS Variables */
:root {
    --primary-font: "Fredoka", sans-serif;
    --secondary-font: "Quicksand", sans-serif;
    --primary-color: #D9DBDD;
    --secondary-color: #BDBDC7;
    --tertiary-color: #5F6C78;
}

/* Global Styles */
body {
    font-family: var(--secondary-font);
    background-color: var(--tertiary-color);
}

h1,
h2,
h3,
p,
div {
    font-family: var(--primary-font);
    color: var(--primary-color);
}

/* Main sections: text with carousel and dice/generator */
#section1,
#section2 {
    border: 3px solid var(--secondary-color);
    border-radius: 5px;
    margin-bottom: 1.5rem;
    padding: 10px;
}

/* Carousel images: size and styling */
.carousel-item img {
    display: block;
    width: 100%;
    height: 400px;
    object-fit: cover;
}


